In [149]:
import pandas as pd
dataFrame=pd.read_csv("job-data.csv", encoding='latin-1')

In [150]:
dataFrame.head(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
5,ServiceNow,Sr Staff Data Scientist - ATG,"Kirkland, Washington, United States",Full Time,Senior-level,184K+,"Computer Science,Deep Learning,Industrial,Mach...","401(k) matching,Career development,Competitive..."
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,"Banking,Data quality,Excel,Security,,","Gear,,,,"
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
9,Palo Alto Networks,Principal Cloud Data Engineer (Prisma Access),"Santa Clara, CA, United States",Full Time,Senior-level,140K+,"Agile,APIs,AWS,Azure,Big Data,Computer Science","Career development,Medical leave,Salary bonus,..."

In [151]:
print("list of unique Salary :",dataFrame["Salary"].sort_values(ascending=False).unique().tolist())

list of unique Salary : ['GBP 80K+', 'GBP 65K+', 'GBP 60K+', 'GBP 55K+', 'GBP 55K', 'GBP 54K+', 'GBP 51K+', 'GBP 50K+', 'GBP 45K+', 'GBP 42K+', 'GBP 35K', 'EUR 81K', 'EUR 80K+', 'EUR 60K+', 'EUR 36K+', 'EUR 130K+', ' 99K+', ' 98K+', ' 97K+', ' 96K+ *', ' 96K+', ' 95K+ *', ' 95K+', ' 94K+', ' 93K+', ' 92K+ *', ' 90K+ *', ' 90K+', ' 89K+ *', ' 86K+', ' 85K+', ' 84K+', ' 83K+', ' 82K+', ' 81K+ *', ' 81K+', ' 80K+ *', ' 80K+', ' 79K+', ' 78K+', ' 77K+ *', ' 76K+', ' 75K+ *', ' 75K+', ' 74K+ *', ' 74K+', ' 73K+ *', ' 73K+', ' 72K+', ' 71K+', ' 70K+ *', ' 70K+', ' 69K+ *', ' 68K+', ' 67K+', ' 66K+ *', ' 66K+', ' 65K+ *', ' 65K+', ' 63K+ *', ' 63K+', ' 62K+ *', ' 61K+ *', ' 60K+ *', ' 60K+', ' 59K+ *', ' 59K+', ' 57K+ *', ' 56K+ *', ' 55K+ *', ' 55K+', ' 54K+ *', ' 52K+', ' 51K+ *', ' 51K+', ' 50K+ *', ' 50K+', ' 49K+ *', ' 48K+ *', ' 45K+ *', ' 45K+', ' 44K+ *', ' 43K+', ' 42K+ *', ' 40K+ *', ' 40K+', ' 39K+ *', ' 36K+ *', ' 35K+ *', ' 33K+ *', ' 31K+ *', ' 315K+', ' 310K+', ' 30K+ *', ' 295K+', ' 283K+', ' 267K+', ' 253K+', ' 245K+', ' 236K+', ' 235K+', ' 234K+', ' 230K+', ' 227K+', ' 225K+', ' 224K+', ' 220K+', ' 218K+', ' 214K+', ' 207K+', ' 205K+', ' 204K+', ' 202K+', ' 200K+ *', ' 200K+', ' 199K+', ' 197K+', ' 196K+', ' 195K+', ' 193K+', ' 190K+', ' 189K+', ' 187K+', ' 185K+', ' 184K+ *', ' 184K+', ' 183K+', ' 182K+', ' 180K+', ' 179K+', ' 178K+', ' 177K+', ' 176K+', ' 175K+', ' 174K+', ' 173K+', ' 172K+', ' 171K+', ' 170K+', ' 168K+', ' 167K+', ' 166K+', ' 165K+', ' 164K+', ' 163K+', ' 161K+', ' 160K+', ' 159K+', ' 158K+', ' 157K+', ' 156K+', ' 155K+ *', ' 155K+', ' 154K+', ' 153K+', ' 152K+', ' 151K+', ' 150K+', ' 149K+', ' 148K+', ' 147K+', ' 146K+', ' 145K+', ' 144K+ *', ' 144K+', ' 143K+', ' 142K+', ' 141K+ *', ' 141K+', ' 140K+', ' 139K+', ' 138K+', ' 136K+', ' 135K+ *', ' 135K+', ' 134K+', ' 133K+', ' 132K+', ' 131K+ *', ' 131K+', ' 130K+', ' 129K+ *', ' 129K+', ' 128K+', ' 127K+', ' 126K+', ' 125K+', ' 124K+', ' 123K+', ' 122K+ *', ' 122K+', ' 121K+', ' 120K+ *', ' 120K+', ' 119K+', ' 117K+', ' 116K+', ' 115K+ *', ' 115K+', ' 113K+', ' 112K+', ' 111K+', ' 110K+ *', ' 110K+', ' 109K+ *', ' 109K+', ' 108K+', ' 107K+', ' 106K+', ' 105K+ *', ' 105K+', ' 104K+', ' 103K+ *', ' 103K+', ' 102K+ *', ' 102K+', ' 100K+ *', ' 100K+', nan]

In [152]:
print("number of rows :",dataFrame.shape[0])

number of rows : 3198

In [153]:
print("number of columns :",str(dataFrame.shape[1])+" : "+ str(dataFrame.columns))

number of columns : 8 : Index(['Company', 'Job Title', 'Location', 'Job Type', 'Experience level',
       'Salary', 'Requirment of the company ', 'Facilities'],
      dtype='object')

In [155]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [156]:
dataFrame.describe()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
count,3197,3197,3197,3197,2962,3009,3198,3198
unique,1106,2138,1117,3,4,218,2600,777
top,Publicis Groupe,Data Engineer,"Bengaluru, India",Full Time,Senior-level,115K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
freq,126,105,90,3116,1876,253,12,542

In [157]:
print("list of unique Job types :",dataFrame["Job Type"].unique())

list of unique Job types : ['Full Time' 'Internship' 'Part Time' nan]

In [158]:
print("list of unique Job Title :",dataFrame["Job Title"].unique().tolist())

list of unique Job Title : ['Clinical Data Analyst', 'AML/CFT & Data Analyst', 'Machine Learning Engineer', 'Application Developer & Data Analyst', 'Data Engineer Full time (Public Sector) USA', 'Sr Staff Data Scientist - ATG', 'Vendor Management and Data Quality Lead', 'Intern (Business Intelligence Service Support)', 'Summer 2023 Data Engineering Intern', 'Principal Cloud Data Engineer (Prisma Access)', 'Data Scientist (TE-CRG-GLO-2023-19-GRAP)', 'Data Analyst - Revenue Optimizer', 'Graduate Power BI Developer', 'SAP Consultant - Product Data Management', 'PreMaster Programm - Data Analytics and Visualization', 'Staff Data Scientist - ATG', 'Senior Data Analyst - Sales', 'BI Analyst', 'Data Scientist | Insights (f/m/d) - GER, UK, NL, PL', 'Senior Data Analyst (Remote within EMEA)', 'Senior Data Engineer (Evergreen)', 'Data Management Scrum Master', 'Rotational Development Program - Artificial Intelligence and Machine Learning Trainee', 'Data Engineer Scientist', 'Data Scientist (Elasticsearch)', 'Data Engineer F/H', 'BI Developer', 'Data Scientist - Fraud Risk', 'QuintoAndar - Senior Data Analyst', 'ML Research Engineer', 'Principal Engineer, Data Project Management', 'Senior Data Engineer', '(Senior) Digital Analytics Engineer', 'Senior Software Engineer (Data Pipeline)', 'Senior Data Scientist', 'Data Science Lead (Hybrid)', 'Business Intelligence Analyst', 'Lead Business Intelligence Analyst', 'Sr Data Engineer', 'Data Modeler', 'Data Engineer', 'VP, Actuarial Modeling and Data Management', 'Junior Data Science Engineer (m/w/x)', 'Healthcare Data Analyst', 'Data Scientist', 'Data Analyst | Marketing or Sales (f/m/d) - GER, UK, NL, PL', 'Business Intelligence Expert', 'Senior Data Analyst', 'Principle MLOps Engineer', 'Machine Learning Research Engineer, Generative AI', 'Data Analyst - Product Innovation', 'Lead Data Scientist', 'Data Product Owner', 'Bi Analyst Jr - 24170', 'HTML Developer', 'Business Intelligence Developer', 'Data Scientist, Marketing Analytics', 'Senior Manager - AML/CFT & Data Analyst', 'Senior Data Visualization Analyst', 'Senior Data Engineer (Remote)', 'Customer Data Engineer', 'Data Engineer- Data Platform', 'Digital Marketing Lead (ZibraAI)', 'Staff Data Scientist - Marketing', 'Senior Sales Business Intelligence Manager', 'Data Analyst, Customer Experience', 'ETAS Test Lead - Autonomous Driving Solutions', 'Sr. Data Engineer', 'Specialist Solutions Architect - MLOps', 'Data Scientist, Terminal', 'Data Analyst Intern', 'React Native Engineer - Mobile (Dubai)', 'Artificial Intelligence Lead | KPMG Futures', 'Jr. CRM Data Quality Specialist', 'Data Management Consultant Banking (f/d/m) Financial Services Data Platform FSDM', 'Director, Artificial Intelligence (AI)', 'Intermediate BI Developer', 'Senior Business Intelligence Analyst', 'Data Analyst', 'Staff Machine Learning Engineer', 'Data Analyst (Remote)', 'Lead Applied Data Scientist (Experience with Media Mix Modeling)', 'Data Engineer I', 'Cloud Database Analyst', 'Senior Machine Learning Engineer', 'Junior Data Analyst', 'Financial Data Analyst', 'Senior Consultant in Data science', 'Staff Clinical Data Manager # 3073', 'HR Data Analyst', 'Consultant in Data Science', 'Staff Engineer, Data Platform', 'Senior Data Scientist, Marketing Analytics', 'Director, IVA and AI Solutions - Professional Services Practice Lead', 'Lead Data Analyst(Marketing/Growth Analytics)', 'Data Analyst, Service Analytics', 'Amazon Robotics - Hardware Engineer Co-op (July-December 2023), Amazon Robotics', 'Senior/Staff Data Engineer', 'Data Product Manager', 'FSA (FinTech) - Quantitative Machine Learning Specialist & Software Developer', 'Data Engineer Analyst', 'Software Engineer (Data Pipeline)', 'Associate Data Scientist', 'Data Engineering Analyst', 'Talan Consulting \x96 Consultant Senior/Manager \x96 Data Strategy (H/F)', 'Enterprise Data Architect - 6 month Contract', 'Data Engineer II', 'Data Scientist/Machine Learning Engineer', 'Senior Data Scientist, Product', 'Senior Technical Support Engineer, DataSet', 'Finance Business Intelligence , Operations Finance', 'Staff Machine Learning Modeler, Financial Crimes', 'Data Engineer - Music', 'Data Manager', 'Salesforce Administrator/Data Specialist', 'Data Engineer (Starlink)', 'Data Engineer confirmé BI - BIG DATA', 'Director, Spark Technical Solutions', 'Middle Data Engineer (Healthcare domain)', 'Senior Data Analyst (Pricing)', 'People Analytics Data Visualization Senior Associate (Open to Remote)', 'Développeur Power BI - H/F', 'Product Manager - Experts & Artificial Intelligence', 'Group Manager Data Analytics India', 'Vice President Director, Data Scientist', 'Business Intelligence Analyst, AWS Cloud Logistics', 'Scientist/Senior Scientist, Machine Learning', 'Principal Site Reliability Engineer, Datastores (Hybrid)', 'Machine Learning Manager (Systems)', 'Consultant Data Engineer', 'Machine Learning Engineer L3', 'Data Analyst Coches.net', 'Senior Product Marketing Manager, Conversational Intelligence & AI Products', 'Graduate Data Analyst', 'Analytics Engineer', 'Specialist Solutions Architect - Data Engineering (Public Sector)', 'Senior Data Quality Assurance Specialist', 'Senior Site Reliability Engineer, Datastores (Hybrid)', 'Customer Success Junior ML Engineer, Onboarding Specialist', 'Senior Data Science Engineer', 'Digital Analytics Engineer', 'Senior Big Data Engineer', 'Senior Data Scientist, Marketing', 'Analytics Engineer Intern', 'Master Data Team Manager', 'Senior Data Engineer, Enterprise Engineering', 'Data Operations Associate', 'Staff ML Engineer (8627)', 'Specialist Architect : Big Data', 'Research Engineer in Multi Agent Path Finding for Mobile Robots (f/m/div.)', 'Product Marketing Manager, Data Engineering', 'CV/ML Engineer for 3D Virtual Humans - Remote Europe', 'Senior Data Engineer - Data Bricks', 'Director AI Science', 'Researcher- Business Intelligence', 'Machine Learning Research Scientist', 'Staff Database Reliability Engineer, Datastores', 'Senior Data Scientist - Viator, London, Oxford, UK Remote', 'Data Analyst (Bangkok Based, Relocation Provided)', 'Associate AI/ML Engineer', 'Azure Data Architect', 'Senior Applied Data Scientist', 'Senior Scientist, Decision Sciences', 'Data Operations & Insights Manager', 'Principal ML Engineer - AI Platform', 'Principal Product Marketing Manager, AI & Machine Learning', 'Technical Support Specialist (Robotics) - EU - Remote', 'Data Architect', 'Operations Data Analyst (Tableau)', 'Head of Applied AI/ML', 'Data Analytics Engineer', 'Software Engineer - Autonomy Metrics', 'Product Manager- Data Visualization & Analytics', 'Data Science in Product Design Engineering', 'Senior Director of Product - Machine Learning', 'Senior Data Analyst (Bangkok Based, Relocation Provided)', 'Operations Planner Data Management Technician', 'Senior Associate Data Engineering', 'Data Operations Client Onboarding', 'Machine Learning Research Scientist - Reinforcement Learning', 'Machine Learning Engineer, Generative AI', 'Data Management Internship', 'Sr Big Data Engineer', 'Consulting - Robotics Process Automation (RPA) Developer', 'Data Engineer with Databricks - Empower (remote/Costa Rica-based)', 'Databricks and Scala Engineer geospatial', 'Software Engineer, Data Platform', 'Senior Manager Data Engineering', 'Senior Data Engineer (P3949).', 'Junior Data Engineer Customer Analytics', 'Chief Engineer, Autonomy (R2020)', 'Senior Research Data Analyst', 'Sport data operator', 'Associate Director | Artificial Intelligence Lead | KPMG Futures', 'Research Scientist', 'Data Engineering Manager', 'Principal Engineer - Data Integrations', 'Python Engineer - Machine Learning Specialist (Remote)', 'Senior Applied Scientist - Document Intelligence', 'Data Analyst, Go Live', 'Senior Data Scientist (M/F)', 'Researcher/Senior Researcher \x96 Natural Language Processing and Text Analytics', 'Data Analyst (Customer Service Industry, Mandarin Support)', 'Manager Data Strategy', 'Business Partner, Data Analysis', 'Data Engineer - Remote', 'Marketing Data Analyst', 'Post-Doctoral Fellow or Associate - Agronomy Data Scientist', 'Sr. Data Scientist', 'Researcher- Computer Vision', 'Data Science Lead', 'Senior Data Scientist, Product Analytics', 'Software Engineer - Machine Learning, Granica Screen', 'Data Engineer - Türkiye', 'SDE-III, Data Engineering', 'Oracle Data Modeler / PL/SQL - Data warehouse', 'Product Data Specialist (HW)', 'SparkCognition Director of Accounting - Controller', 'Senior Machine Learning Scientist (USA REMOTE)', 'Senior Data Scientist (P171).', 'Cloud Data Analyst Engineer (FinOps)', 'DataOps Engineer', 'Robotic Research Engineer - Mechatronics', 'Manager - Applied Data Scientist', '??·????/Business Intelligence Engineer, Japan Operations Finance', 'Senior Data Engineer - (Christchurch)', 'Senior Software Engineer - Data Architecture skills', 'BI Developer, Analytics', 'Supervisão de Business Intelligence (foco em mídia/comunicação)', 'Senior Manager, Perception Deep Learning', 'SME Consultant for Data Analytics', 'Senior Data Strategist', 'Data Analyst (Oslo-based)', 'Senior AI Engineer', 'SQL Data Engineers', 'Subsurface Data Manager', 'Senior Data Analyst with Python SQL - MS- Bangalore', 'Data Analyst Supply Chain Management (f/m/d)', 'Senior Data Quality Developer', 'Remote Intermediate Fullstack Engineer (AI Team)', 'iOS Engineer (Dubai)', 'Business Intelligence Data Strategist', 'Data Engineer Customer Analytics', 'Sr. BI Analyst', 'Data Scientist Generalist', 'Business Intelligence Analyst - Sales Operations', 'Senior Developer - Data Engineer (AWS/Python/Node)', 'Senior Data Scientist: NLP', 'Data Analyst (Allegro Pay)', 'Data Analyst (DEA)', 'AI Research Engineer', 'AI Research Scientist', 'Manager, Business Operations - Diagnostic Imaging and Laboratory', 'Data Science Consultant', 'Customer Master Data Analyst', 'Senior Data Quality Engineer', 'Senior Data Analyst - Hybrid', 'Computer Vision Researcher', 'Research Scientist - Machine Learning and Algorithms', 'Senior Applied Scientist', 'Tableau/BI Developer', 'Data Scientist (Real-time Ops)', 'Data Science/ Analytics Intern- Long Term', 'Master Data Management Plants (f/m/div.)', 'Coordinator of Data Operations', 'Data Science Team Lead', 'AI Programmer VR (UE)', 'Data Engineer (Python) - Payments', 'Master Data Management Plants (f/m/div.) (salary: ~81.000 EUR p.a.*)', 'Data Analyst Pleno', 'Research Engineer PEM Electrolyzer (f/m/div.)', 'Consulting - Data Engineer', 'Data Analyst Intern - Product Analytics', 'System Reliability Engineer (Big Data)', 'Enterprise Data Architect', 'TTGP Fleet Data Manager/Senior JICO', 'Senior Software Engineer - Data analytics', 'Staff Technical Product Manager, AI Platform and Solutions', 'Big Data Engineer - PySpark', 'Consultant / Sr Consultant - QA Data Engineer', 'Computational Biologist, Translational Science - Location Flexible', 'Lead Software Engineer, ML Infrastructure', 'Senior Insurance Data Scientist', 'Principal Engineer, Data Systems', 'Clinical Data Manager', 'Data Analyst I - Fraud', 'Senior Data Scientist, Operations', 'Software Engineer - Data Platform (Python, Cloud, Big Data)', 'Senior Cloud Data Analyst Engineer (FinOps)', 'Data Engineer - Bulgaria', 'Power BI Developer', 'Consultant, Data Analytics', 'Junior MLOps - Intern', 'Business Intelligence Internship (Summer 23/24)', 'Business Analyst (Tech/AI)', 'Senior Applied Scientist, Amazon', 'Specialist Solutions Architect - Data Engineering (Financial Services)', 'Data Scientist eBike Systems (f/m/div.)', 'Graduate Data Scientist', 'Robotics Engineer, Sensors', 'Contract: Data Infrastructure Engineer', 'AI/ML Modeling, Simulation and Analysis Engineer (Senior)', 'Cloud Data Engineer', 'Head of Data Science, Analytics and BI', 'Clinical Data Reporter', 'Staff+ Machine Learning Engineer - Generative AI', 'Especialista em Auditoria Interna - Data Analytics', 'Engineering Team Lead, Imaging Tech', 'Senior ML Engineer - NLP', 'Data Analyst (Aberdeen-based)', 'Principal Engineer, Data and Control Systems', 'Data Scientist (Pricing)', 'Head of AML Operations (m/f/d)', 'Data Engineer - 14072', 'Data Analyst (Reporting and Insights)', 'Sr. Manager (AI/ML)', 'Data Scientist, Decisions - Rider', 'Data Architect - SME', 'Senior SW Engineer (Machine Learning)', '(Global) Senior Research Scientist', 'Staff Data Scientist, Model Risk Management', 'Graduate Imaging Geophysicist', 'Architecte Plateforme Big Data / DevOps - F/H', 'Data Analyst - Retention', 'Lead Machine Learning Engineer', 'Data Developer', 'Data Analyst - Digital Marketing (all genders)', 'Android Engineer (Dubai)', 'Data Specialist - Governance', 'Senior Robotics Process Automation Developer', 'Technical Product Manager, Data Engineering', 'Sr. Data Developer (Remote), Experian Consumer Services', 'Senior Data Analyst with Python SQL - Bangalore', 'Manager, Measurement Innovation & Data Science', 'Cloud Data Architect', 'Business Intelligence Engineering Manager', 'DevOps Engineer (Dubai)', 'Data Analytics Internship (Summer 23/24)', 'Confirmed Data Analyst - Data Pro Supply', 'Senior Machine Learning Engineer (Modeling)', 'Stage: Robotics', 'Data Scientist / Data Analyst', 'Product Data Analyst sénior (h/f) en CDI à Paris', 'Data Analyst - Stage', 'Senior Analytics Engineer', 'Sr. Software Engineer, Data Engineering', 'Senior Machine Learning Engineer I', 'Data Engineer Sr.Software Engineer DX', 'Senior Staff Data Engineer', 'Natural Language Processing Intern', 'Senior Data Engineers', 'Coordinateur projets Genotypage data analyse (H/F)', 'Machine Learning & Software Engineer, Infrastructure - US Remote', 'Customer-Facing Deep Learning Solutions Architect', 'Data Engineering Manager - Allegro Pay', 'Senior Business Intelligence Developer (Database Architect & ETL Developer)', 'Technical Mentor (Independent Contractor) - Data Engineering Nanodegree (US Timezone)', 'Data Analyst, Business Optimisation', 'Machine Learning Force Fields Scientist (Materials Science)', 'Principal Machine Learning Engineer - ATG', 'Senior Associate Data Sciences', 'Senior Data Engineer (all genders) AI', 'Intermediate / Senior Fullstack Engineer (AI Team)', 'Data Quality Analyst - Stage', 'Senior Software Engineer - AI/ML team (.net + python)', 'Software Engineer, Data Platform, Data Management', 'Senior Machine Learning Engineer (Modeling), Financial Crimes Technology', 'Research Analyst', 'Backend / Data Engineers II, Cerebro', 'Junior Data Manager', 'Data Infrastructure Engineer', 'Backend Engineer (Dubai)', 'Senior Software Engineer I, Machine Learning, Retrieval Sciences', 'Sr. Staff Machine Learning Engineer', 'Staff Systems Engineer, Autonomy & Simulation', '[??-??&???] Senior, Data Analyst (Channel Analytics)', 'Senior Machine Learning Expert (on-site, Brussels / Belgium)', "Spécialiste, intelligence d'affaires / Specialist, Business Intelligence", 'Senior Product Manager | API & Data Products', 'Senior Analyst, Data Science and Analytics', 'Senior Product Manager - Data Management & Search', 'Accounting Professor- Data Analytics/AIS- 90K+ Salary', 'Senior Data Engineer - Healthgrades', 'Sr Applied Data Scientist', 'Business Intelligence Engineer', 'Assistant Mgr - Data Sciences', "Data Analyst - Stage de fin d'études - Paris 2e", 'Trading BI Developer', 'Data Analytics Intern - Le Cubs 2023', 'Product Data Analyst -  F/H', 'Data Scientist (Crypto)', '[Job- 10639] Senior Data Engineer Developer, Brazil', 'Business Intelligence Associate', 'Analyst, Reporting and Business Intelligence', 'Data Science Software Engineer', 'Product Owner with Tableau/Power BI(6 to 10 years)', 'Machine Learning & Software Engineer, Infrastructure - EMEA Remote', 'Sr AI Solution Developer (ServiceNow Developer)', 'Data Integrations Engineer', 'Lead Software Engineer - AI/ML team (.net + python)', 'Transportation Data Analyst Coordinator', 'Senior Applied Data Scientist (all genders) AI', 'Power BI Analyst', 'Senior Cloud DevOps Engineer (Data & AI) bei eBike Systems (w/m/div.)', 'Business Intelligence Analyst I', 'Power BI Data Visualization Analyst', 'Data Analyst (CEO Office)', 'Senior Data Science Analyst- Model Validation', 'Sr. Revenue Operations Specialist - Data Analytics', 'PhD Position - Neuro-Symbolic AI for Scene Understanding in Autonomous Driving', 'Staff Data Analyst, Product Analytics', 'Senior Product Manager, Large Language Model', 'QuintoAndar - Analytics Engineer', 'VP, Data Products', 'Data Science Director, Adoption & Enterprise', 'Data Platform Developer, Machine Learning', 'Senior Vision Engineer (English version)', 'Lead Data Scientist (P3436)', '(Canada) Business Intelligence Engineer', 'Lead ML Platform Engineer', 'Staff Data Engineer', 'Transportation Data Analyst (Tableau)', 'Robotics Software Developer Intern Fall 2023', 'Senior Data Architect', 'Software Engineer, Computer Vision Program', 'Data Engineer - Tempcover', 'ML PhD Intern - LLMs & Generative AI', 'Alternance - « Data Analyst » ou « Equipe Business Intelligence » (H/F)', 'Software Engineer - Structured Data Strategies', 'Data Science Intern', 'Institution Data Analyst', 'Senior Solutions Engineer - Big Data', 'Principal Machine Learning (ML) Engineer', 'Product Data Engineer', "Data Engineer - Stage de fin d'études - Paris 2e", 'Senior Data Engineer/Scientist', 'Principal Data Scientist, Machine Learning', 'Sr Director - Project Implementation - Medical Imaging / PACS', 'Big Data BI Engineer', 'Principal Data Scientist (Spain, full-remote)', 'AI Programmer', 'Business Intelligence Data Analyst', 'Machine Learning for Natural Language Processing Intern', 'Data Scientist engineer', 'ML Postdoc Researcher - LLMs & Generative AI', 'Principal Engineer, Data Management Engineering', 'Lead Data Scientist - Pricing', 'Data Scientist, Product Analytics', 'Senior Infrastructure Software Engineer, ML Platform', 'Alumio Solution Engineer (Data Integration)', 'Senior AI Research Scientist \x96 Perception and Machine Learning', 'Field Sample Specialist (Air Samples) - Eurofins Environment Testing \x96 Pueblo, CO', 'Senior Research Scientist \x96 AI-based Planning for Autonomous Systems', 'Internship: Business Intelligence and Finance Excellence', 'Senior Data Engineer, PHP', 'Head of Data Science & Predictive Modeling', 'Business and Commercial Banking (BCB) Business Intelligence and Analytics Graduate Programme - Gauteng', 'Data Scientist - Data Analytics and Infrastructure', '(Senior) Machine Learning Engineer - MLOps', 'Team Lead Data Science (f/m/x)', 'Senior Data Scientist - Monetization', 'Lead Machine Learning Research Engineer, Generative AI', 'Course Associate, Data Analysis and Visualization in Sustainability (Fall 2023)', 'Robotics Engineer', 'Ingénieur Data Modeler et/ou Tech Data - F/H', 'Biomedical Data Scientist', 'Product Analyst - Remote (Mumbai)', 'Databricks Administrator', 'Analyst, Data Engineering', 'Lead Data Engineer- Bangalore', 'Marketing Data Scientist', 'Insight Analyst', 'Data Analyst Junior F/H', 'Senior Applied Scientist I', 'Data Manager Consultant', 'Foundation Models Lead', 'Consultant Big Data & Machine Learning', 'Senior Machine Learning Scientist (8304)', 'Senior Product Manager (AI team)', 'Principal Applied Scientist', 'Director of Data Science', 'Data Analyst Consultant', 'Senior Market Research Analyst', 'Senior Manager of Master Data Management (Hybrid)', 'Mid Data Scientist (f/m/x), Remote (EU) / Berlin', 'Sr. Product Manager (AI team)', 'Data Analyst (Pricing)', 'Principal Data Strategist Consultant', 'Senior Vehicle Data Analyst', 'Machine Learning Engineer (m/w/x)', 'Principal Engineer, Datacenter Software Systems', 'Business Intelligence (Qlik) Developer', 'Staff Data Scientist, Credit Card', 'Head of Product Data Science', "Data Engineer / Data Analyst - Stage de fin d'études - Paris 2e (H/F)", 'Junior Data Engineer', 'Machine Learning Research Engineer - Federal', 'Lead Data Engineer (P3796)', 'Senior ML Engineer', 'BI Engineer & Data 

In [159]:
print("list of unique Experience level	 :",dataFrame["Experience level"].unique())

list of unique Experience level	 : ['Entry-level' nan 'Mid-level' 'Senior-level' 'Executive-level']

In [160]:
print("number of duplicated rows :",dataFrame.duplicated().sum())

number of duplicated rows : 202

# *DATA* CLEANING

In [161]:
dataFrame.dropna(thresh=3,inplace=True)

In [162]:
# drop duplicated
dataFrame.drop_duplicates(inplace=True)

In [163]:
# change all to lower case
dataFrame = dataFrame.applymap(lambda x: x.lower() if isinstance(x, str) else x)

JOB TITLE COLUMN

In [101]:
# pip install langdetect

In [102]:
# pip install mtranslate

In [ ]:
from mtranslate import translate
import langdetect
from tqdm import tqdm


def translate_with_retry(text):
    return translate(str(text), 'en')

def is_english(text):
    try:
       #remove imojis befor virifying language
        lang = langdetect.detect(text)
        return lang == 'en'
    except langdetect.LangDetectException:
        return False



translated_lines = []
for index, line in tqdm(dataFrame.iterrows()):
    text =line['Job Title']
# i comment it just to see what is hapning
    if isinstance(text, float):
            text = str(text)

    if text and text.strip():  # Skip empty or whitespace-only descriptions

        if not is_english(text):
            try:
                    # Translate the non-English description with retry logic
                translated_text = translate_with_retry(text)
                line['Job Title'] = translated_text
            except Exception as e:
                print(f"Translation failed for TEXT: {text}. Error: {str(e)}")
        else:
            print("Skipping translation for TEXT as it is already in English.")
    else:
        print("Skipping translation for empty or whitespace-only TEXT.")

    translated_lines.append(line)
description_trn={'Job Title':translated_lines}

In [167]:
dataFrame=pd.DataFrame(translated_lines)

In [105]:
# TranslateDataFrame.to_csv('translated_dataFrame2.csv',index=False)

In [168]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k+ *,"computer science,data quality,genetics,mathema...",",,,,"
1,ocorian,aml/cft & data analyst,"ebène, mauritius",full time,entry-level,48k+ *,"agile,data management,finance,security,,",",,,,"
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k+ *,"agile,architecture,aws,computer science,comput...","career development,,,,"
3,bosch group,application developer & data analyst,"nonantola, italy",full time,entry-level,48k+ *,"engineering,industrial,oracle,power bi,r,r&d",",,,,"
4,publicis groupe,data engineer full time (public sector) usa,"arlington, va, united states",full time,mid-level,108k+,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi..."
...,...,...,...,...,...,...,...,...
3190,ccri,"application integration engineer, computer vis...","chantilly, virginia, united states",full time,mid-level,113k+,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,..."
3191,publicis groupe,"associate director, data science","new york city, united states",full time,mid-level,106k+,"bayesian,classification,clustering,data analys...","career development,health care,,,"
3192,doordash,"senior software engineer, machine learning - a...","sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176k+,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu..."
3193,western digital,data scientist - new college graduate,"biñan, philippines",full time,entry-level,39k+ *,"apis,clustering,computer science,data visualiz...","career development,,,,"
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39k+ *,"computer science,data analytics,data mining,ec...","career development,startup environment,,,"

In [169]:
 dataFrame=dataFrame.drop(dataFrame[dataFrame['Job Title'].str.contains('stage')].index)

In [171]:
 dataFrame=dataFrame.drop(dataFrame[dataFrame['Job Title'].str.contains('internship')].index)

In [172]:
dataFrame=dataFrame.drop(dataFrame[dataFrame['Job Type']=='internship'].index)

In [174]:
dataFrame=dataFrame.drop(dataFrame[(dataFrame['Job Title'].str.contains('intern')) & (dataFrame['Salary'].isna())].index)

In [175]:
 dataFrame=dataFrame.drop(dataFrame[dataFrame['Job Title'].str.contains('trainee')].index)

In [177]:
dataFrame[(dataFrame['Salary'].isna())]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
39,angi,senior data scientist,"indianapolis, in - hybrid",full time,senior-level,NaN,"big data,data mining,machine learning,mathemat...","401(k) matching,career development,competitive..."
44,rewe international dienstleistungsgesellschaft...,junior data science engineer (m/w/x),"wien, austria",full time,entry-level,NaN,"ci/cd,computer science,data pipelines,deep lea...",",,,,"
87,civis analytics,lead applied data scientist (experience with m...,remote,full time,senior-level,NaN,"causal inference,computer science,consulting,d...","401(k) matching,career development,competitive..."
168,faraday future,senior big data engineer,"san jose, california, united states",full time,senior-level,NaN,"airflow,aws,azure,big data,computer science,da...","equity,relocation support,,,"
201,veritone,data analytics engineer,united states,full time,senior-level,NaN,"agile,apis,aws,business analytics,business int...","401(k) matching,career development,competitive..."
...,...,...,...,...,...,...,...,...
2936,complyadvantage,director of data science,"london, england, united kingdom",full time,executive-level,NaN,"data strategy,engineering,machine learning,nlp...","career development,competitive pay,equity,flex..."
2952,infinitus,? insurance verification specialist / artifici...,"san francisco, ca (remote)",full time,entry-level,NaN,"engineering,testing,,,,","career development,health care,insurance,start..."
2969,the allen institute for ai,research engineer - allennlp,"seattle, wa",full time,entry-level,NaN,"architecture,computer science,data analysis,de...","401(k) matching,career development,flex hours,..."
3080,duckduckgo,"senior backend engineer, ai",remote job,full time,senior-level,NaN,"engineering,genetics,machine learning,ml model...","career development,equity,flex hours,flex vaca..."
3166,dnsfilter,senior data scientist,"washington, district of columbia, united state...",full time,mid-level,NaN,"aws,computer science,data analysis,data visual...","career development,flex hours,flex vacation,he..."

location column

In [113]:
# pip install pycountry

In [179]:
import pandas as pd
import pycountry


# Convert data to a DataFrame
dataFrame =dataFrame

# Function to extract country from location using pycountry
def extract_country(location):
    if "," in location:
        country_name = location.split(", ")[-1]
    else:
        country_name = location
    try:
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.alpha_2
    except LookupError:
        return country_name

# Extract country code from Location column
dataFrame["Country"] = dataFrame["Location"].apply(extract_country)

# Determine if the job is remote or in-place
dataFrame["Job is"] = dataFrame.apply(lambda row: "remote" if "remote" in row["Job Title"] or "remote" in row["Location"] else "in-place", axis=1)

In [180]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k+ *,"computer science,data quality,genetics,mathema...",",,,,",US,in-place
1,ocorian,aml/cft & data analyst,"ebène, mauritius",full time,entry-level,48k+ *,"agile,data management,finance,security,,",",,,,",MU,in-place
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k+ *,"agile,architecture,aws,computer science,comput...","career development,,,,",US,in-place
3,bosch group,application developer & data analyst,"nonantola, italy",full time,entry-level,48k+ *,"engineering,industrial,oracle,power bi,r,r&d",",,,,",IT,in-place
4,publicis groupe,data engineer full time (public sector) usa,"arlington, va, united states",full time,mid-level,108k+,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",US,in-place
...,...,...,...,...,...,...,...,...,...,...
3190,ccri,"application integration engineer, computer vis...","chantilly, virginia, united states",full time,mid-level,113k+,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",US,in-place
3191,publicis groupe,"associate director, data science","new york city, united states",full time,mid-level,106k+,"bayesian,classification,clustering,data analys...","career development,health care,,,",US,in-place
3192,doordash,"senior software engineer, machine learning - a...","sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176k+,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place
3193,western digital,data scientist - new college graduate,"biñan, philippines",full time,entry-level,39k+ *,"apis,clustering,computer science,data visualiz...","career development,,,,",PH,in-place
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39k+ *,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",CA,in-place

In [183]:
dataFrame[dataFrame['Country']=="US"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k+ *,"computer science,data quality,genetics,mathema...",",,,,",US,in-place
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k+ *,"agile,architecture,aws,computer science,comput...","career development,,,,",US,in-place
4,publicis groupe,data engineer full time (public sector) usa,"arlington, va, united states",full time,mid-level,108k+,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",US,in-place
5,servicenow,sr staff data scientist - atg,"kirkland, washington, united states",full time,senior-level,184k+,"computer science,deep learning,industrial,mach...","401(k) matching,career development,competitive...",US,in-place
9,palo alto networks,principal cloud data engineer (prisma access),"santa clara, ca, united states",full time,senior-level,140k+,"agile,apis,aws,azure,big data,computer science","career development,medical leave,salary bonus,...",US,in-place
...,...,...,...,...,...,...,...,...,...,...
3175,informa group plc.,research and audience data analyst,"new york city, united states",full time,senior-level,92k+ *,"data visualization,finance,kpis,research,,","career development,team events,,,",US,in-place
3185,c3.ai,data science instructor,"redwood city, california",full time,senior-level,109k+,"architecture,clustering,etl,jupyter,machine le...","career development,competitive pay,equity,,",US,in-place
3186,servicenow,sr software qa engineer-machine learning qe,"santa clara, california, united states",full time,senior-level,117k+,"engineering,git,javascript,machine learning,ma...","401(k) matching,competitive pay,equity,flex ho...",US,in-place
3190,ccri,"application integration engineer, computer vis...","chantilly, virginia, united states",full time,mid-level,113k+,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",US,in-place
3191,publicis groupe,"associate director, data science","new york city, united states",full time,mid-level,106k+,"bayesian,classification,clustering,data analys...","career development,health care,,,",US,in-place

In [117]:
# pip install country_converter

In [184]:

# its workingb
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Define a function to clean the job titles
def clean_job_title(job_title):
    job_title_tokens = word_tokenize(job_title)
    stop_words = set(stopwords.words('english'))
    job_title_filtered = [word for word in job_title_tokens if word not in stop_words]
    lemmatizer = WordNetLemmatizer()
    job_title_lemmatized = [lemmatizer.lemmatize(word) for word in job_title_filtered]
    special_chars_pattern = r'[^a-zA-Z\s]'
    job_title_cleaned = re.sub(special_chars_pattern, '', ' '.join(job_title_lemmatized)).strip()
    return job_title_cleaned

# Clean the "Job Title" column using the defined function
dataFrame["Job Title"] = dataFrame["Job Title"].apply(clean_job_title)

print(dataFrame["Job Title"].tolist())

['clinical data analyst', 'amlcft  data analyst', 'machine learning engineer', 'application developer  data analyst', 'data engineer full time  public sector  usa', 'sr staff data scientist  atg', 'vendor management data quality lead', 'principal cloud data engineer  prisma access', 'data scientist  tecrgglograp', 'data analyst  revenue optimizer', 'graduate power bi developer', 'sap consultant  product data management', 'premaster programm  data analytics visualization', 'staff data scientist  atg', 'machine learning engineer', 'senior data analyst  sale', 'bi analyst', 'data scientist  insight  fmd   ger  uk  nl  pl', 'senior data analyst  remote within emea', 'senior data engineer  evergreen', 'data management scrum master', 'data engineer scientist', 'data scientist  elasticsearch', 'data engineer fh', 'bi developer', 'data scientist  fraud risk', 'quintoandar  senior data analyst', 'ml research engineer', 'principal engineer  data project management', 'senior data engineer', 'senior  digital analytics engineer', 'senior software engineer  data pipeline', 'senior data scientist', 'data science lead  hybrid', 'business intelligence analyst', 'lead business intelligence analyst', 'senior data scientist', 'sr data engineer', 'data modeler', 'data engineer', 'vp  actuarial modeling data management', 'junior data science engineer  mwx', 'healthcare data analyst', 'data scientist', 'data analyst  marketing sale  fmd   ger  uk  nl  pl', 'business intelligence expert', 'data engineer', 'senior data analyst', 'principle mlops engineer', 'senior data scientist', 'machine learning research engineer  generative ai', 'data analyst  product innovation', 'lead data scientist', 'data product owner', 'become analyst jr', 'html developer', 'business intelligence developer', 'data scientist  marketing analytics', 'senior manager  amlcft  data analyst', 'senior data visualization analyst', 'senior data engineer  remote', 'customer data engineer', 'data engineer data platform', 'digital marketing lead  zibraai', 'staff data scientist  marketing', 'senior sale business intelligence manager', 'data analyst  customer experience', 'machine learning engineer', 'eta test lead  autonomous driving solution', 'sr data engineer', 'specialist solution architect  mlops', 'data scientist  terminal', 'react native engineer  mobile  dubai', 'artificial intelligence lead  kpmg future', 'jr crm data quality specialist', 'senior data analyst', 'data management consultant banking  fdm  financial service data platform fsdm', 'director  artificial intelligence  ai', 'intermediate bi developer', 'senior business intelligence analyst', 'data analyst', 'staff machine learning engineer', 'data analyst  remote', 'lead applied data scientist  experience medium mix modeling', 'data engineer', 'cloud database analyst', 'senior machine learning engineer', 'junior data analyst', 'financial data analyst', 'data engineer', 'senior consultant data science', 'staff clinical data manager', 'hr data analyst', 'consultant data science', 'machine learning engineer', 'staff engineer  data platform', 'data engineer', 'data engineer', 'senior data scientist  marketing analytics', 'director  iva ai solution  professional service practice lead', 'lead data analyst  marketinggrowth analytics', 'data analyst  service analytics', 'amazon robotics  hardware engineer coop  julydecember    amazon robotics', 'seniorstaff data engineer', 'data engineer', 'data product manager', 'fsa  fintech   quantitative machine learning specialist  software developer', 'data engineer analyst', 'software engineer  data pipeline', 'senior data scientist', 'associate data scientist', 'data engineering analyst', 'talan consulting  consultant seniormanager  data strategy  hf', 'enterprise data architect   month contract', 'data engineer ii', 'data scientistmachine learning engineer', 'data engineer', 'data analyst', 'senior data scientist  product', 'senior technical support engineer  dataset', 'finance business intelligence  operation finance', 'staff machine learning modeler  financial crime', 'machine learning engineer', 'senior business intelligence analyst', 'data scientist', 'data engineer  music', 'data manager', 'machine learning engineer', 'salesforce administratordata specialist', 'data engineer  starlink', 'data engineer', 'data engineer confirm bi  big data', 'director  spark technical solution', 'data engineer', 'middle data engineer  healthcare domain', 'senior data analyst  pricing', 'people analytics data visualization senior associate  open remote', 'power bi developer  mf', 'data engineer', 'product manager  expert  artificial intelligence', 'group manager data analytics india', 'data analyst', 'senior data engineer', 'vice president director  data scientist', 'business intelligence analyst  aws cloud logistics', 'scientistsenior scientist  machine learning', 'principal site reliability engineer  datastores  hybrid', 'data scientist', 'machine learning manager  system', 'consultant data engineer', 'machine learning engineer l', 'data analyst cochesnet', 'senior product marketing manager  conversational intelligence  ai product', 'graduate data analyst', 'analytics engineer', 'specialist solution architect  data engineering  public sector', 'senior machine learning engineer', 'data scientist', 'senior data quality assurance specialist', 'senior site reliability engineer  datastores  hybrid', 'customer success junior ml engineer  onboarding specialist', 'senior data science engineer', 'digital analytics engineer', 'senior big data engineer', 'senior data scientist  marketing', 'master data team manager', 'senior data engineer  enterprise engineering', 'data operation associate', 'data analyst', 'staff ml engineer', 'specialist architect  big data', 'research engineer multi agent path finding mobile robot  fmdiv', 'product marketing manager  data engineering', 'machine learning engineer', 'cvml engineer d virtual human  remote europe', 'senior data engineer  data brick', 'director ai science', 'researcher business intelligence', 'machine learning research scientist', 'staff database reliability engineer  datastores', 'senior data scientist  viator  london  oxford  uk remote', 'data engineer', 'data analyst  bangkok based  relocation provided', 'associate aiml engineer', 'azure data architect', 'senior applied data scientist', 'senior scientist  decision science', 'data scientist', 'data operation  insight manager', 'principal ml engineer  ai platform', 'principal product marketing manager  ai  machine learning', 'technical support specialist  robotics   eu  remote', 'data architect', 'operation data analyst  tableau', 'head applied aiml', 'data analytics engineer', 'software engineer  autonomy metric', 'product manager data visualization  analytics', 'data science product design engineering', 'senior director product  machine learning', 'senior data analyst  bangkok based  relocation provided', 'operation planner data management technician', 'senior associate data engineering', 'data operation client onboarding', 'machine learning research scientist  reinforcement learning', 'machine learning engineer  generative ai', 'machine learning engineer', 'sr big data engineer', 'consulting  robotics process automation  rpa  developer', 'data engineer', 'data engineer', 'data analyst', 'data engineer databricks  empower  remotecosta ricabased', 'databricks scala engineer geospatial', 'software engineer  data platform', 'senior manager data engineering', 'senior data engineer  p', 'junior data engineer customer analytics', 'chief engineer  autonomy  r', 'senior research data analyst', 'sport data operator', 'associate director  artificial intelligence lead  kpmg future', 'research scientist', 'data engineering manager', 'principal engineer  data integration', 'python engineer  machine learning specialist  remote', 'senior applied scientist  document intelligence', 'data analyst  go live', 'senior data scientist  mf', 'data engineer', 'researchersenior researcher  natural language processing text analytics', 'data scientist', 'data scientist', 'data analyst  customer service industry  mandarin support', 'manager data strategy', 'business partner  data analysis', 'data engineer  remote', 'bi analyst', 'data analyst', 'data engineer', 'marketing data analyst', 'postdoctoral fellow associate  agronomy data scientist', 'sr data scientist', 'researcher computer vision', 'data science lead', 'senior data engineer', 'senior data scientist  product analytics', 'software engineer  machine learning  granica screen', 'data engineer  Trkiye', 'senior data scientist', 'machine learning engineer', 'sdeiii  data engineering', 'oracle data modeler  plsql  data warehouse', 'product data specialist  hw', 'sparkcognition director accounting  controller', 'senior machine learning scientist  usa remote', 'senior data scientist  p', 'cloud data analyst engineer  finops', 'data ops engineer', 'robotic research engineer  mechatronics', 'manager  applied data scientist', 'business intelligence engineer  japan operation finance', 'senior data engineer   christchurch', 'senior software engineer  data architecture skill', 'bi developer  analytics', 'business intelligence oversight  mediacommunication focus', 'senior manager  perception deep learning', 'sme consultant data analytics', 'senior data strategist', 'data scientist', 'data engineer', 'data analyst  oslobased', 'senior ai engineer', 'sql data engineer', 'subsurface data manager', 'senior data analyst python sql  ms bangalore', 'data analyst supply chain management  fmd', 'senior data quality developer', 'remote intermediate fullstack engineer  ai team', 'io engineer  dubai', 'business intelligence data strategist', 'data engineer customer analytics', 'Sr bi Analyst', 'data scientist generalist', 'business intelligence analyst  sale operation', 'senior developer  data engineer  awspythonnode', 'data engineer', 'senior data scientist  nlp', 'data analyst  allegro pay', 'data analyst  dea', 'senior data engineer', 'ai research engineer', 'data analyst', 'data engineer', 'ai research scientist', 'html developer', 'manager  business operation  diagnostic imaging laboratory', 'data engineer', 'data science consultant', 'customer master data analyst', 'senior data quality engineer', 'senior data analyst  hybrid', 'computer vision researcher', 'machine learning engineer', 'research scientist  machine learning algorithm', 'senior applied scientist', 'tableaubi developer', 'data engineer', 'data scientist  realtime ops', 'senior data engineer', 'master data management plant  fmdiv', 'coordinator data operation', 'data science team lead', 'ai programmer vr  ue', 'data engineer  python   payment', 'master data management plant  fmdiv    salary   eur pa', 'data analyst pleno', 'research engineer pem electrolyzer  fmdiv', 'consulting  data engineer', 'system reliability engineer  big data', 'senior data analyst', 'azure data architect', 'enterprise data architect', 'ttgp fleet data managersenior jico', 'staff machine learning engineer', 'senior software engineer  data analytics', 'staff technical product manager  ai platform solution', 'big data engineer  pyspark', 'consultant  sr consultant  qa data engineer', 'computational biologist  translational science  location flexible', 'lead software engineer  ml infrastructure', 'senior insurance data scientist', 'principal engineer  data system', 'clinical data manager', 'data analyst  fraud', 'senior data scientist  operation', 'software engineer  data platform  python  cloud  big data', 'senior cloud data analyst engineer  finops', 'data engineer  bulgaria', 'power bi developer', 'consultant  data analytics', 'senior data analyst', 'business analyst  techai', 'data scientist', 'senior applied scientist  amazon', 'specialist solution architect  data engineering  financial service', 'data scientist ebike system  fmdiv', 'senior machine learning engineer', 'senior data engineer', 'graduate data scientist', 'data engineer', 'robotics engineer  sensor', 'contract  data infrastructure engineer', 'aiml modeling  simulation analysis engineer  senior', 'analytics engineer', 'cloud data engineer', 'head data science  analytics bi', 'clinical data reporter', 'staff machine learning engineer  generative ai', 'junior data analyst', 'internal audit specialist  data analytics', 'engineering team lead  imaging tech', 'senior ml engineer  nlp', 'data analyst  aberdeenbased', 'research scientist', 'principal engineer  data control system', 'data scientist  pricing', 'head aml operation  mfd', 'data engineer', 'senior data engineer', 'senior data engineer', 'data analyst  reporting insight', 'sr manager  aiml', 'data scientist  decision  rider', 'data architect  sme', 'senior sw engineer  machine learning', 'data engineer', 'global  senior research scientist', 'staff data scientist  model risk management', 'senior data analyst', 'graduate imaging geophysicist', 'architecte plateforme big data  devops  fh', 'analytics engineer', 'data engineer', 'data analyst  retention', 'data analyst', 'lead machine learning engineer', 'data developer', 'data analyst  digital marketing  gender', 'android engineer  dubai', 'data specialist  governance', 'senior robotics process automation developer', 'technical product manager  data engineering', 'sr data developer  remote   experian consumer service', 'senior data analyst python sql  bangalore', 'manager  measurement innovation  data science', 'data analytics engineer', 'cloud data architect', 'business intelligence engineering manager', 'senior business intelligence analyst', 'data manager', 'devops engineer  dubai', 'confirmed data analyst  data pro supply', 'senior data analyst', 'senior machine learning engineer  modeling', 'data scientist  data analyst', 'senior product data analyst  mf  permanent contract paris', 'senior analytics engineer', 'sr software engineer  data engineering', 'senior machine learning engineer', 'data engineer srsoftware engineer dx', 'senior staff data engineer', 'data engineer', 'senior data engineer', 'genotyping data analysis project coordinator  mf', 'machine learning  software engineer  infrastructure  u remote', 'customerfacing deep learning solution architect', 'data engineering manager  allegro pay', 'senior business intelligence developer  database architect  etl developer', 'data analyst', 'technical mentor  independent contractor   data engineering nanodegree  u timezone', 'data architect', 'data analyst  business optimisation', 'machine learning force field scientist  material science', 'principal machine learning engineer  atg', 'senior associate data science', 'senior data engineer  gender  ai', 'intermediate  senior fullstack engineer  ai team', 'senior software engineer  aiml team  net  python', 'software engineer  data platform  data management', 'senior machine learning engineer  modeling   financial crime technology', 'research analyst', 'backend  data engineer ii  cerebro', 'junior data manager', 'data infrastructure engineer', 'senior data scientist', 'backend engineer  dubai', 'senior software engineer  machine learning  retrieval science', 'sr staff machine learning engineer', 'staff system engineer  autonomy  simulation', 'senior  data analyst  channel analytics', 'senior machine learning expert  onsite  brussels  belgium', 'specialist  business intelligence  specialist  business intelligence', 'senior product manager  api  data product', 'senior data analyst', 'senior analyst  data science analytics', 'senior product manager  data management  search', 'accounting professor data analyticsais k salary', 'senior data engineer  health grade', 'sr applied data scientist', 'business intelligence engineer', 'assistant mgr  data science', 'data scientist', 'trading bi developer', 'product data analyst  fh', 'data scientist  crypto', 'job   senior data engineer developer  brazil', 'business intelligence associate', 'analyst  reporting business intelligence', 'data science software engineer', 'product owner tableaupower bi    year', 'machine learning  software engineer  infrastructure  emea remote', 'sr ai solution developer  servicenow developer', 'data integration engineer', 'data scientist', 'data engineer ii', 'lead software engineer  aiml team  net  python', 'transportation data analyst coordinator', 'senior applied data scientist  gender  ai', 'power bi analyst', 'senior machine learning engineer', 'senior cloud devops engineer  data  ai  bei ebike system  wmdiv', 'business intelligence analyst', 'power bi data visualization analyst', 'data engineer', 'data analyst  ceo office', 'senior data science analyst model validation', 'machine learning engineer', 'sr revenue operation specialist  data analytics', 'phd position  neurosymbolic ai scene understanding autonomous driving', 'staff data analyst  product analytics', 'senior product manager  large language model', 'quintoandar  analytics engineer', 'vp  data product', 'machine learning engineer', 'data science director  adoption  enterprise', 'data platform developer  machine learning', 'senior vision engineer  english version', 'lead data scientist  p', 'canada  business intelligence engineer', 'data engineer', 'lead ml platform engineer', 'staff data engineer', 'transportation data analyst  tableau', 'senior data architect', 'software engineer  computer vision program', 'data engineer  tempcover', 'data engineer', 'alternance   data analyst  ou  equipe business intelligence   hf', 'software engineer  structured data strategy', 'data scientist', 'institution data analyst', 'senior solution engineer  big data', 'machine learning engineer', 'principal machine learning  ml  engineer', 'product data engineer', 'data engineer', 'senior data engineerscientist', 'data scientist', 'principal data scientist  machine learning', 'sr director  project implementation  medical imaging  pac', 'big data bi engineer', 'principal data scientist  spain  fullremote', 'programmed', 'business intelligence data analyst', 'data scientist engineer', 'ml postdoc researcher  llm  generative ai', 'principal engineer  data management engineering', 'lead data scientist  pricing', 'data scientist  product analytics', 'senior infrastructure software engineer  ml platform', 'alumio solution engineer  data integration', 'senior data engineer', 'senior ai research scientist  perception machine learning', 'data scientist', 'field sample specialist  air sample   eurofins environment testing  pueblo  co', 'senior research scientist  aibased planning autonomous system', 'senior data engineer  php', 'head data science  predictive modeling', 'business commercial banking  bcb  business intelligence analytics graduate programme  gauteng', 'data scientist  data analytics infrastructure', 'senior  machine learning engineer  mlops', 'team lead data science  fmx', 'data analyst', 'senior data engineer', 'senior data scientist  monetization', 'lead machine learning research engineer  generative ai', 'course associate  data analysis visualization sustainability  fall', 'senior data scientist', 'robotics engineer', 'data modeler andor tech data engineer  fm', 'biomedical data scientist', 'product analyst  remote  mumbai', 'databricks administrator', 'analyst  data engineering', 'lead data engineer bangalore', 'marketing data scientist', 'insight analyst', 'senior data engineer', 'data analyst junior fh', 'senior applied scientist', 'data manager consultant', 'foundation model lead', 'machine learning engineer', 'consultant big data  machine learning', 'senior machine learning scientist', 'data scientist', 'senior product manager  ai team', 'principal applied scientist', 'director data science', 'data analyst consultant', 'data analyst', 'senior market research analyst', 'senior manager master data management  hybrid', 'mid data scientist  fmx   remote  eu   berlin', 'sr product manager  ai team', 'data analyst  pricing', 'principal data strategist consultant', 'se

In [119]:
# pip install geopy

In [191]:
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import pycountry

# Define a function to clean the job titles
def clean_job_title(job_title):
    job_title_lower = job_title.lower()
    job_title_tokens = word_tokenize(job_title_lower)
    stop_words = set(stopwords.words('english'))
    job_title_filtered = [word for word in job_title_tokens if word not in stop_words]
    lemmatizer = WordNetLemmatizer()
    job_title_lemmatized = [lemmatizer.lemmatize(word) for word in job_title_filtered]
    special_chars_pattern = r'[^a-zA-Z\s]'
    job_title_cleaned = re.sub(special_chars_pattern, '', ' '.join(job_title_lemmatized)).strip()
    return job_title_cleaned

# Get a dictionary of country names and their ISO codes using the pycountry library
country_names = {country.name.lower(): country.name for country in pycountry.countries}

# Add more common country names if needed
additional_country_names = {'united states': 'United States', 'united kingdom': 'United Kingdom', 'united arab emirates': 'United Arab Emirates', 'singapore': 'Singapore', 'india': 'India', 'brazil': 'Brazil', 'italy': 'Italy', 'spain': 'Spain', 'sweden': 'Sweden', 'norway': 'Norway', 'denmark': 'Denmark'}
country_names.update(additional_country_names)

# Define a function to extract only the country name from the "Country" column
def extract_country(country_text):
    # Convert to lowercase for case-insensitive comparison
    country_text_lower = country_text.lower()

    # Check if the entire text is a valid country name
    if country_text_lower in country_names:
        return country_names[country_text_lower]

    # If not, check for individual words that match country names
    country_words = country_text_lower.split()
    valid_country_words = [word for word in country_words if word in country_names]
    if valid_country_words:
        return country_names[valid_country_words[-1]]

    # If no valid country names found, return the original text
    return country_text

# Define a function to clean the job titles and extract country and remote information
def clean_and_separate_job_title(job_title, location):
    job_title_cleaned = clean_job_title(job_title)

    # Check for country names and "remote" keyword
    remote_keyword = 'remote'

    countries_in_title = [country_names[word] for word in country_names.keys() if word in job_title_cleaned]
    country_from_location = location.strip()

    if countries_in_title:
        country_from_title = countries_in_title[0]
        if country_from_title.lower() == country_from_location.lower():
            country = country_from_title
            country_from_location = ''
        else:
            country = country_from_location
            country_from_title = ''
    else:
        country = country_from_location
        country_from_title = ''

    job_title_cleaned = job_title_cleaned.replace(country, '').replace(country_from_title, '').strip()

    is_remote = int(remote_keyword.lower() in location.lower() or remote_keyword.lower() in job_title_cleaned)
    job_title_cleaned = job_title_cleaned.replace(remote_keyword, '').strip()

    return job_title_cleaned, country, is_remote

# Your CSV data as a DataFrame


df = dataFrame
# Clean and separate the "Job Title" column using the defined function
df["Job Title"], df["Country"], df["Is Remote"] = zip(*df.apply(lambda row: clean_and_separate_job_title(row["Job Title"], row["Location"]), axis=1))

# Extract only the country name from the "Country" column
df["Country"] = df["Country"].apply(extract_country)

print(df)

              Company                                          Job Title  \
0                 sgs                              clinical data analyst
1             ocorian                                amlcft data analyst
2              cricut                          machine learning engineer
3         bosch group                 application developer data analyst
4     publicis groupe          data engineer full time public sector usa
...               ...                                                ...
3190             ccri  application integration engineer computer visi...
3191  publicis groupe                    associate director data science
3192         doordash  senior software engineer machine learning ad i...
3193  western digital                data scientist new college graduate
3196    atb financial                                     data scientist

                                          Location   Job Type  \
0                    richardson, tx, united states  full time
1                                 ebène, mauritius  full time
2                  south jordan, ut, united states  full time
3                                 nonantola, italy  full time
4                     arlington, va, united states  full time
...                                            ...        ...
3190            chantilly, virginia, united states  full time
3191                  new york city, united states  full time
3192  sunnyvale, ca; san francisco, ca; new york   full time
3193                            biñan, philippines  full time
3196                     edmonton, alberta, canada  full time

     Experience level   Salary  \
0         entry-level   48k+ *
1         entry-level   48k+ *
2                 NaN   90k+ *
3         entry-level   48k+ *
4           mid-level    108k+
...               ...      ...
3190        mid-level    113k+
3191        mid-level    106k+
3192     senior-level    176k+
3193      entry-level   39k+ *
3196      entry-level   39k+ *

                             Requirment of the company   \
0     computer science,data quality,genetics,mathema...
1              agile,data management,finance,security,,
2     agile,architecture,aws,computer science,comput...
3          engineering,industrial,oracle,power bi,r,r&d
4     aws,azure,computer science,consulting,dataflow...
...                                                 ...
3190          agile,angular,apis,architecture,aws,azure
3191  bayesian,classification,clustering,data analys...
3192  computer science,data analysis,engineering,exc...
3193  apis,clustering,computer science,data visualiz...
3196  computer science,data analytics,data mining,ec...

                                             Facilities  \
0                                                  ,,,,
1                                                  ,,,,
2                                career development,,,,
3                                                  ,,,,
4     flex hours,flex vacation,parental leave,unlimi...
...                                                 ...
3190  401(k) matching,career development,flex hours,...
3191                  career development,health care,,,
3192  401(k) matching,career development,equity,insu...
3193                             career development,,,,
3196          career development,startup environment,,,

                                         Country    Job is  Is Remote
0                  richardson, tx, united states  in-place          0
1                                      Mauritius  in-place          0
2                south jordan, ut, united states  in-place          0
3                                          Italy  in-place          0
4                   arlington, va, united states  in-place          0
...                                          ...       ...        ...
3190          chantilly, virginia, united states  in-place          0
3191                new york city, united states  in-place          0
3192  sunnyvale, ca; san francisco, ca; new york  in-place          0
3193                                 Philippines  in-place          0
3196                                      Canada  in-place          0

[2879 rows x 11 columns]

In [121]:
# import pandas as pd
# from geopy.geocoders import Nominatim
# import pycountry
# import time

# # Initialize geocoder
# geolocator = Nominatim(user_agent="geoapiExercises")


# df = dataFrame

# # Define a function to extract the country from the "Country" column using geopy
# def extract_country_from_location(location):
#     location = location.strip()
#     retries = 3
#     for _ in range(retries):
#         try:
#             location_info = geolocator.geocode(location, language="en")
#             if location_info and location_info.raw.get("address", {}).get("country", ""):
#                 country_name = location_info.raw["address"]["country"]
#                 country = pycountry.countries.get(name=country_name)
#                 if country:
#                     return country.name
#         except Exception as e:
#             print(f"Error occurred during geocoding: {e}")
#             time.sleep(2)  # Add a delay of 1 second before retrying
#     return location

# # Extract the country names from the "Country" column using geopy
# df["Country"] = df["Location"].apply(extract_country_from_location)

# print(df)

In [192]:
dataFrame=df

In [193]:
dataFrame["Country"] = dataFrame["Country"].str.replace(r"[^a-zA-Z\s]", "")  # Remove special characters
dataFrame["Country"] = dataFrame["Country"].str.replace(r"\bremote\b", "")   # Remove the word "remote"
dataFrame["Country"] = dataFrame["Country"].str.replace(r"\bjob\b", "")   # Remove the word "remote"

<ipython-input-193-9e01e04268fc>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dataFrame["Country"] = dataFrame["Country"].str.replace(r"[^a-zA-Z\s]", "")  # Remove special characters
<ipython-input-193-9e01e04268fc>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dataFrame["Country"] = dataFrame["Country"].str.replace(r"\bremote\b", "")   # Remove the word "remote"
<ipython-input-193-9e01e04268fc>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataFrame["Country"] = dataFrame["Country"].str.replace(r"\bjob\b", "")   # Remove the word "remote"

In [194]:
import pandas as pd

import pycountry


# Function to extract country from location using pycountry
def extract_country(location):
    if "," in location:
        country_name = location.split(",")[-1]
    else:
        country_name = location
    try:
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.name
    except LookupError:
        return country_name

# Extract country code from Location column
dataFrame["Country"] = dataFrame["Location"].apply(extract_country)

# Determine if the job is remote or in-place
# df["Job is"] = df.apply(lambda row: "remote" if "remote" in row["Job Title"] or "remote" in row["Location"] else "in-place", axis=1)

In [195]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k+ *,"computer science,data quality,genetics,mathema...",",,,,",United States,in-place,0
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,48k+ *,"agile,data management,finance,security,,",",,,,",Mauritius,in-place,0
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k+ *,"agile,architecture,aws,computer science,comput...","career development,,,,",United States,in-place,0
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,48k+ *,"engineering,industrial,oracle,power bi,r,r&d",",,,,",Italy,in-place,0
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,108k+,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,in-place,0
...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer visi...,"chantilly, virginia, united states",full time,mid-level,113k+,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,in-place,0
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,106k+,"bayesian,classification,clustering,data analys...","career development,health care,,,",United States,in-place,0
3192,doordash,senior software engineer machine learning ad i...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176k+,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place,0
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,39k+ *,"apis,clustering,computer science,data visualiz...","career development,,,,",Philippines,in-place,0
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39k+ *,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",Canada,in-place,0

**SALARY**

In [196]:
dataFrame["Salary"].fillna('negociable',inplace=True)

In [197]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k+ *,"computer science,data quality,genetics,mathema...",",,,,",United States,in-place,0
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,48k+ *,"agile,data management,finance,security,,",",,,,",Mauritius,in-place,0
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k+ *,"agile,architecture,aws,computer science,comput...","career development,,,,",United States,in-place,0
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,48k+ *,"engineering,industrial,oracle,power bi,r,r&d",",,,,",Italy,in-place,0
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,108k+,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,in-place,0
...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer visi...,"chantilly, virginia, united states",full time,mid-level,113k+,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,in-place,0
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,106k+,"bayesian,classification,clustering,data analys...","career development,health care,,,",United States,in-place,0
3192,doordash,senior software engineer machine learning ad i...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176k+,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place,0
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,39k+ *,"apis,clustering,computer science,data visualiz...","career development,,,,",Philippines,in-place,0
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39k+ *,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",Canada,in-place,0

In [198]:
dataFrame["Salary"].str.strip()

0       48k+ *
1       48k+ *
2       90k+ *
3       48k+ *
4        108k+
         ...
3190     113k+
3191     106k+
3192     176k+
3193    39k+ *
3196    39k+ *
Name: Salary, Length: 2879, dtype: object

In [199]:
dataFrame[['Salary', 'Plus']] = dataFrame["Salary"].apply(lambda x: pd.Series(str(x).split("+")))

In [200]:
dataFrame["Plus"].fillna('no bonuses',inplace=True)

In [201]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote,Plus
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k,"computer science,data quality,genetics,mathema...",",,,,",United States,in-place,0,*
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,48k,"agile,data management,finance,security,,",",,,,",Mauritius,in-place,0,*
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k,"agile,architecture,aws,computer science,comput...","career development,,,,",United States,in-place,0,*
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,48k,"engineering,industrial,oracle,power bi,r,r&d",",,,,",Italy,in-place,0,*
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,108k,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,in-place,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer visi...,"chantilly, virginia, united states",full time,mid-level,113k,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,in-place,0,
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,106k,"bayesian,classification,clustering,data analys...","career development,health care,,,",United States,in-place,0,
3192,doordash,senior software engineer machine learning ad i...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176k,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place,0,
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,39k,"apis,clustering,computer science,data visualiz...","career development,,,,",Philippines,in-place,0,*
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39k,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",Canada,in-place,0,*

In [202]:
dataFrame[['Currency','Salary']] = dataFrame["Salary"][dataFrame["Salary"]!="negociable"].apply(lambda x: pd.Series(str(x).split(" ")))

In [208]:
dataFrame[dataFrame["Currency"]== "USD"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote,Plus,Currency
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k,"computer science,data quality,genetics,mathema...",",,,,",United States,in-place,0,*,USD
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,48k,"agile,data management,finance,security,,",",,,,",Mauritius,in-place,0,*,USD
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k,"agile,architecture,aws,computer science,comput...","career development,,,,",United States,in-place,0,*,USD
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,48k,"engineering,industrial,oracle,power bi,r,r&d",",,,,",Italy,in-place,0,*,USD
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,108k,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,in-place,0,,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer visi...,"chantilly, virginia, united states",full time,mid-level,113k,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,in-place,0,,USD
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,106k,"bayesian,classification,clustering,data analys...","career development,health care,,,",United States,in-place,0,,USD
3192,doordash,senior software engineer machine learning ad i...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176k,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place,0,,USD
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,39k,"apis,clustering,computer science,data visualiz...","career development,,,,",Philippines,in-place,0,*,USD
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39k,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",Canada,in-place,0,*,USD

In [209]:
dataFrame['Currency'].replace('','USD',inplace=True)

In [210]:
dataFrame['Currency'][dataFrame['Salary'].isna()]=dataFrame['Currency'].str.replace('nan','--')

<ipython-input-210-e89e40959631>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame['Currency'][dataFrame['Salary'].isna()]=dataFrame['Currency'].str.replace('nan','--')

In [211]:
dataFrame['Plus'].replace('','no bonuses',inplace=True)

In [212]:
dataFrame['Plus'].replace(' *','bonuses',inplace=True)

In [213]:
dataFrame['Plus'] = dataFrame['Plus'].map({'bonuses': True, 'no bonuses': False})      # Replace string by boolean

In [214]:
print("list of unique Currency :",dataFrame["Currency"].unique().tolist())

list of unique Currency : ['USD', nan, 'eur', 'gbp']

In [215]:
dataFrame['Salary'] = dataFrame['Salary'].str.replace('K', '')

In [216]:
df["Currency"] = df["Currency"].str.upper()

In [217]:
dataFrame["Salary"]=pd.to_numeric(dataFrame['Salary'], errors='coerce')*1000

In [218]:
dataFrame[dataFrame['Salary'].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote,Plus,Currency
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,NaN,"computer science,data quality,genetics,mathema...",",,,,",United States,in-place,0,True,USD
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,NaN,"agile,data management,finance,security,,",",,,,",Mauritius,in-place,0,True,USD
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,NaN,"agile,architecture,aws,computer science,comput...","career development,,,,",United States,in-place,0,True,USD
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,NaN,"engineering,industrial,oracle,power bi,r,r&d",",,,,",Italy,in-place,0,True,USD
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,NaN,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,in-place,0,False,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer visi...,"chantilly, virginia, united states",full time,mid-level,NaN,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,in-place,0,False,USD
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,NaN,"bayesian,classification,clustering,data analys...","career development,health care,,,",United States,in-place,0,False,USD
3192,doordash,senior software engineer machine learning ad i...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,NaN,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place,0,False,USD
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,NaN,"apis,clustering,computer science,data visualiz...","career development,,,,",Philippines,in-place,0,True,USD
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,NaN,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",Canada,in-place,0,True,USD

In [219]:
dataFrame["Salary"].fillna(0,inplace=True)

In [143]:
dataFrame[dataFrame["Salary"]==0]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Is Remote,Plus,Currency
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,"computer science,data quality,genetics,mathema...",",,,,",United States,0,True,USD
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,0.0,"agile,data management,finance,security,,",",,,,",Mauritius,0,True,USD
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,0.0,"agile,architecture,aws,computer science,comput...","career development,,,,",United States,0,True,USD
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,0.0,"engineering,industrial,oracle,power bi,r,r&d",",,,,",Italy,0,True,USD
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,0.0,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,0,False,USD
...,...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer vis...,"chantilly, virginia, united states",full time,mid-level,0.0,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,0,False,USD
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,0.0,"bayesian,classification,clustering,data analys...","career development,health care,,,",United States,0,False,USD
3192,doordash,senior software engineer machine learning ad...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,0.0,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,0,False,USD
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,0.0,"apis,clustering,computer science,data visualiz...","career development,,,,",Philippines,0,True,USD
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,"computer science,data analytics,data mining,ec...","career development,startup environment,,,",Canada,0,True,USD

### Experience level

In [220]:
print("list of unique Experience level :",dataFrame["Experience level"].unique().tolist())

list of unique Experience level : ['entry-level', nan, 'mid-level', 'senior-level', 'executive-level']

In [221]:
dataFrame["Job Title"][dataFrame["Experience level"].isna()].tolist()

['machine learning engineer',
 'data analyst revenue optimizer',
 'bi analyst',
 'data science lead hybrid',
 'data analyst customer experience',
 'data engineer',
 'hr data analyst',
 'data product manager',
 'finance business intelligence operation finance',
 'data scientist',
 'data manager',
 'salesforce administratordata specialist',
 'business intelligence analyst aws cloud logistics',
 'machine learning manager system',
 'product manager data visualization analytics',
 'data engineering manager',
 'data analyst go live',
 'data engineer',
 'bi analyst',
 'marketing data analyst',
 'software engineer machine learning granica screen',
 'robotic research engineer mechatronics',
 'business intelligence oversight mediacommunication focus',
 'data analyst oslobased',
 'business intelligence data strategist',
 'data engineer customer analytics',
 'business intelligence analyst sale operation',
 'data analyst',
 'data engineer',
 'coordinator data operation',
 'data scientist',
 'data scientist pricing',
 'data specialist governance',
 'data manager',
 'confirmed data analyst data pro supply',
 'senior product data analyst mf permanent contract paris',
 'backend data engineer ii cerebro',
 'data infrastructure engineer',
 'data science software engineer',
 'data scientist',
 'data engineer ii',
 'business intelligence analyst',
 'quintoandar analytics engineer',
 'canada business intelligence engineer',
 'machine learning engineer',
 'lead data scientist pricing',
 'data scientist data analytics infrastructure',
 'databricks administrator',
 'lead data engineer bangalore',
 'marketing data scientist',
 'machine learning engineer mwx',
 'data scientist',
 'python machine learning engineer adlight',
 'middle product manager data analysis fintech',
 'data manager business market',
 'business intelligence specialist',
 'chatbot engineer',
 'data quality management specialist',
 'data analyst ii',
 'support ops manager ml data operation fba support operation',
 'consultant german speaking data analytics',
 'nlp engineer',
 'data analytics engineer',
 'data visualisation consultant',
 'financial data analyst',
 'leaddata analyst',
 'data scientist reliability engineering mfd',
 'data scientist data science hub',
 'clinical data manager',
 'logistics lead imaging',
 'lead data scientist',
 'data science consultant',
 'data operation manager link',
 'data scientist product growth',
 'data scientist research',
 'data analyst product',
 'business intelligence analytics lead permanent',
 'data engineer',
 'data scientist customer acquisition',
 'aiml data labeling manager uk',
 'data engineering manager',
 'data scientist op',
 'big data engineer itdadsld',
 'data analytics manager',
 'ai compiler performance engineer',
 'big data specialist',
 'data scientist mf',
 'data engineer hong kong',
 'data engineer top secret',
 'business intelligence analyst risk',
 'simulation data engineer inductive sensor mf',
 'analyst data science',
 'manager business intelligence',
 'economist pricing causal inference',
 'data specialist',
 'qa data engineer',
 'lead data engineer',
 'data scientist product u',
 'data operation analyst',
 'quality assurance engineer data center engineering',
 'data analyst medicare advantage',
 'business intelligence data engineer open',
 'clinical data manageranalyst',
 'analytics engineer',
 'frontend developer chatbot',
 'data engineer fh',
 'data product manager safemine cloud',
 'security engineer data security',
 'data engineer',
 'data analyst dublin paris',
 'data analyst business optimisation',
 'robotics software developer multiple position bgsw',
 'data engineer',
 'data engineer hf',
 'computer engineer computer vision hardware midsr mfd',
 'data engineer designer sql developer bigl',
 'research analyst lng shortterm',
 'computer engineer computer vision hardware midsr',
 'implementation data scientist',
 'data analytics specialist',
 'tech lead bi power bi cdi hf',
 'data science manager',
 'data analyst',
 'mlops engineer',
 'financial data analyst',
 'sap consultant product data management',
 'manager business operation diagnostic imaging laboratory',
 'computer engineer computer vision software hardware',
 'data engineer',
 'data engineer infrastructure',
 'data quality analyst',
 'bi developer',
 'manager business intelligence',
 'cloud data scientist',
 'data manager',
 'lead data engineer fh',
 'data strategy manager crm loyalty consumer experience ecommerce',
 'data integration analyst west coastchicago',
 'gameplay ai programmer',
 'data product manager',
 'finance data analyst',
 'product manager computer vision',
 'data science manager risk intervention',
 'analyst data science',
 'vice president data strategy',
 'data scientist',
 'data analyst',
 'mid data scientist',
 'marketing data analyst',
 'machine learning engineer',
 'business intelligence analyst mfd',
 'clinical nlp engineer',
 'personal assistant cio ai asset mgmt team',
 'data scientist marketing sale',
 'data analyst',
 'portfolio data feed portfolio data analyst',
 'application infrastructure consulting aic',
 'data scientist fh',
 'lead data manager',
 'data engineer private banking',
 'healthcare data analyst',
 'data scientist mfd',
 'data analyst crm',
 'event manager ai house',
 'data analytics engineer hf',
 'data analyst',
 'data engineer tssci clearance',
 'java full stack developerrobotics colorado',
 'full stack data scientist',
 'sql server etl support engineer tier tier',
 'data analyst trust safety cx automation product',
 'product data analyst',
 'hardware analysis engineer airbag system',
 'ml engineer',
 'data analyst',
 'data operation manager',
 'business intelligence analyst supporting operation customer team',
 'analytics engineer',
 'unreal engine developer zibra ai',
 'qlik data analyst',
 'data scientist',
 'research engineer electrolysis fuel cell experiment',
 'analytics engineer ena london warsaw fm',
 'sale bb zibraai',
 'machine learning engineer',
 'etl confirmed consultant',
 'machine learning engineer',
 'chatbot specialist',
 'data developer master brazil',
 'dbetl tech lead',
 'data engineer',
 'data analyst',
 'data engineer thefork',
 'data developer client experience metric',
 'quant researcher ai asset mgmt team',
 'software engineer realdriving data analysis application',
 'lead data engineer',
 'machine learning engineer',
 'data engineer',
 'data engineer',
 'developer big data',
 'machine learning engineer ii',
 'data scientist',
 'engineer mlops',
 'data scientist tssci clearance',
 'machine learning solution engineer',
 'product manager aiml',
 'machine learning specialist',
 'research scientist',
 'analytics engineer ad business insight',
 'data analyst london',
 'data engineer',
 'data scientist',
 'data engineer',
 'manager data analytics',
 'mlops engineer ai  india',
 'data engineer tssci clearance',
 'consultant data visualisation hf',
 'sustainability data analyst',
 'data visualisation consultant',
 'data analyst',
 'fair data lead',
 'agronomy data scientist mw cdi',
 'data engineer',
 'data operation engineer',
 'data engineer',
 'data engineer contractor']

In [222]:
dataFrame["Experience level"].fillna('not-specified',inplace=True)

**FACILITIIES AND REQUIREMENT**

In [223]:
# replace the values with ,,,, in the Facilities column with 'Not Specified'
dataFrame['Facilities'].replace(',,,,', 'Not-Specified,', inplace=True)
# remove , if it is succeeded by a , in the Facilities column
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',,', ',')
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',,,', ',')
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',,,,', ',')
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',,,', ',')
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',,', ',')
# remove , if it is in the end of the string in the Facilities column
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',$', '')
dataFrame['Facilities']

<ipython-input-223-14008bbc3954>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(r',$', '')

0                                           Not-Specified
1                                           Not-Specified
2                                      career development
3                                           Not-Specified
4       flex hours,flex vacation,parental leave,unlimi...
                              ...
3190    401(k) matching,career development,flex hours,...
3191                       career development,health care
3192    401(k) matching,career development,equity,insu...
3193                                   career development
3196               career development,startup environment
Name: Facilities, Length: 2879, dtype: object

In [225]:
def split_comma_column_values (colum_name_comma_value,dataFrame) :
    dataFrame[colum_name_comma_value] = dataFrame[colum_name_comma_value].str.split(',')
    new_df = dataFrame.explode(colum_name_comma_value)
    new_df = new_df.reset_index(drop=True)
    new_df[colum_name_comma_value].str.strip()
    new_df.drop_duplicates(inplace=True)
    return new_df

In [227]:
dataFrame=split_comma_column_values ('Facilities',dataFrame)

In [229]:
print("list of unique Facilities :",dataFrame["Facilities"].unique().tolist()),"Length :"+str(len(dataFrame["Facilities"].unique().tolist()))

list of unique Facilities : ['Not-Specified', 'career development', 'flex hours', 'flex vacation', 'parental leave', 'unlimited paid time off', '401(k) matching', 'competitive pay', 'equity', 'gear', 'medical leave', 'salary bonus', 'startup environment', 'health care', 'team events', 'home office stipend', 'insurance', 'fitness / gym', 'relocation support', 'fertility benefits', 'conferences', 'cell phone stipend', 'wellness', 'transparency', 'lunch / meals', 'yoga', 'flexible spending account', 'travel', 'snacks / drinks', 'paid sabbatical', 'pet friendly', 'flat hierarchy', 'signing bonus', 'contract', 'freelance']

(None, 'Length :35')

In [230]:
dataFrame=split_comma_column_values ("Requirment of the company ",dataFrame)

In [232]:
print("list of unique Requirment of the company :",dataFrame["Requirment of the company "].unique().tolist()),"Length :"+str(len(dataFrame["Requirment of the company "].unique().tolist()))

list of unique Requirment of the company : ['computer science', 'data quality', 'genetics', 'mathematics', 'sas', 'statistics', 'agile', 'data management', 'finance', 'security', '', 'architecture', 'aws', 'computer vision', 'deep learning', 'engineering', 'industrial', 'oracle', 'power bi', 'r', 'r&d', 'azure', 'consulting', 'dataflow', 'data pipelines', 'machine learning', 'nlp', 'numpy', 'banking', 'excel', 'apis', 'big data', 'data analysis', 'keras', 'phd', 'business analytics', 'business intelligence', 'economics', 'data analytics', 'market research', 'privacy', 'spark', 'bigquery', 'llms', 'pandas', 'python', 'cuda', 'docker', 'git', 'github', 'gitlab', 'redshift', 'data warehouse', 'looker', 'data visualization', 'metabase', 'e-commerce', 'airflow', 'clustering', 'data governance', 'data mining', 'blockchain', 'databricks', 'sql', 'ci/cd', 'devops', 'etl', 'crypto', 'fraud risk', 'tableau', 'cybernetics', 'datarobot', 'a/b testing', 'angular', 'javascript', 'data warehousing', 'kpis', 'ml models', 'pipelines', 'classification', 'bigtable', 'distributed systems', 'gcp', 'generative modeling', 'dataops', 'research', 'testing', 'hadoop', 'dagster', 'physics', 'causal inference', 'cx', 'autonomous driving', 'linux', 'jira', 'react', 'consulting firm', 'mysql', 'gans', 'athena', 'cassandra', 'elt', 'snowflake', 'econometrics', 'biology', 'bert', 'chatbots', 'dataproc', 'nosql', 'asr', 'fintech', 'prototyping', 'ansible', 'elasticsearch', 'credit risk', 'google cloud', 'feature engineering', 'eda', 'data strategy', 'json', 'model design', 'airtable', 'postgresql', 'dynamodb', 'bayesian', 'ec2', 'kubernetes', 'oop', 'grafana', 'diffusion models', 'drug discovery', 'kafka', 'ai strategy', 'gpt', 'drones', 'bitbucket', 'mlflow', 'conversational ai', 'iclr', 'icml', 'fivetran', 'ai governance', 'robotics', 'scrum', 'scala', 'model training', 'slam', 'streaming', 'chemistry', 'cad', 'huggingface', 'cluster analysis', 'qlik', 'data studio', 'nonprofit', 'matlab', 'avro', 'ms sql', 'healthcare technology', 'api development', 'ux', 'ruby', 'cmake', 'open source', 'golang', 'linear algebra', 'machine intelligence', 'caffe', 'vr', 'jupyter', 'lambda', 'predictive modeling', 'mxnet', 'chatgpt', 'kinesis', 'typescript', 'dicom', 'langchain', 'unstructured data', 'php', 'amplitude', 'azkaban', 'gpu', 'rdbms', 'flink', 'haystack', 'driver\x92s license', 'flask', 'mongodb', 'kanban', 'parquet', 'opencv', 'stem', 'mlops', 'plotly', 'd3', 'ml infrastructure', 'kubeflow', '3d reconstruction', 'circuit design', 'csv', 'elixir', 'olap', 'julia', 'hpc', 'db2', 'ecs', 'content creation', 'perl', 'teaching', 'tensorflow', 'itil', 'pytorch', 'lua', 'openai', 'ocr', 'pentaho', 'xml', 'xsd', 'agi', 'dall-e', 'model inference', 'glove', 'node.js', 'informatica', 'okr', 'matplotlib', 'lidar', 'periscope', 'sharepoint', 'hbase', 'pyspark', 'ssis', 'nltk', 'microservices', 'aistats', 'autoregressive models', 'minitab', 'sdlc', 'lookml', 'core ml', 'django', 'cudnn', 'anaconda', 'ai art', 'jax', 'qlikview', '3d graphics', 'sdl', 'vue', 'emnlp', 'biochemistry', 'ai content', 'rest api', 'knime', 'alpaca', 'nlg', 'ann', 'neurips', 'fortran', 'transformers', 'clinical nlp', 'teradata', 'kibana', 'hdfs', 'arrow', 'c++', '.net', 'travel', 'fastai', 'iso 27001', 'copywriting', 'hiveql', 'lightgbm', 'clojure', 'simd', 'elk', 'model deployment', 'coreml', 'tdd', 'horovod', 'recommender systems', 'maven']

(None, 'Length :283')

In [231]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote,Plus,Currency
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,computer science,Not-Specified,United States,in-place,0,True,USD
1,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,data quality,Not-Specified,United States,in-place,0,True,USD
2,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,genetics,Not-Specified,United States,in-place,0,True,USD
3,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,mathematics,Not-Specified,United States,in-place,0,True,USD
4,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,sas,Not-Specified,United States,in-place,0,True,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52279,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,data analytics,startup environment,Canada,in-place,0,True,USD
52280,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,data mining,startup environment,Canada,in-place,0,True,USD
52281,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,economics,startup environment,Canada,in-place,0,True,USD
52282,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,engineering,startup environment,Canada,in-place,0,True,USD
52283,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,gcp,startup environment,Canada,in-place,0,True,USD

In [224]:
dataFrame[dataFrame['Salary']==0]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Country,Job is,Is Remote,Plus,Currency
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,0.0,"computer science,data quality,genetics,mathema...",Not-Specified,United States,in-place,0,True,USD
1,ocorian,amlcft data analyst,"ebène, mauritius",full time,entry-level,0.0,"agile,data management,finance,security,,",Not-Specified,Mauritius,in-place,0,True,USD
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,not-specified,0.0,"agile,architecture,aws,computer science,comput...",career development,United States,in-place,0,True,USD
3,bosch group,application developer data analyst,"nonantola, italy",full time,entry-level,0.0,"engineering,industrial,oracle,power bi,r,r&d",Not-Specified,Italy,in-place,0,True,USD
4,publicis groupe,data engineer full time public sector usa,"arlington, va, united states",full time,mid-level,0.0,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",United States,in-place,0,False,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,application integration engineer computer visi...,"chantilly, virginia, united states",full time,mid-level,0.0,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",United States,in-place,0,False,USD
3191,publicis groupe,associate director data science,"new york city, united states",full time,mid-level,0.0,"bayesian,classification,clustering,data analys...","career development,health care",United States,in-place,0,False,USD
3192,doordash,senior software engineer machine learning ad i...,"sunnyvale, ca; san francisco, ca; new york",full time,senior-level,0.0,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",ca; new york,in-place,0,False,USD
3193,western digital,data scientist new college graduate,"biñan, philippines",full time,entry-level,0.0,"apis,clustering,computer science,data visualiz...",career development,Philippines,in-place,0,True,USD
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,0.0,"computer science,data analytics,data mining,ec...","career development,startup environment",Canada,in-place,0,True,USD